src/N8N/codigo.json
{
  "name": "Sistema de Medição",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nova-leitura",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "893c2130-18a1-46b1-abeb-b0c1da65dfc9",
      "name": "Webhook",
      "webhookId": "187979b6-fb8d-48c4-8c26-37ebc6311dd1"
    },
    {
      "parameters": {
        "jsCode": "// Pega os dados que vieram do Webhook\n// O n8n coloca o corpo da requisição dentro da propriedade 'body'\nconst dados = items[0].json.body;\n\n// Formata os números para o padrão brasileiro\nconst format = (num) => num ? Number(num).toLocaleString('pt-BR', { maximumFractionDigits: 2 }) : 'N/A';\n\n// Monta a mensagem formatada para o WhatsApp\n// Usamos *asteriscos* para negrito e _underscore_ para itálico\nconst mensagem = `🚨 *ALERTA DE CONSUMO ELEVADO* 🚨\n\n*Unidade:* ${dados.local_unidade || 'N/A'}\n*Andar:* ${dados.andar || 'N/A'}\n*Medidor:* ${dados.nome_medidor || 'Não informado'}\n\n*Leitura Atual:* ${format(dados.leitura_atual)}\n*Consumo Registrado:* ${format(dados.consumo)}\n*Média Histórica:* ${format(dados.media_historica)}\n\n📈 *Consumo ${dados.porcentagem_acima_media}% acima da média!*\n\n*Justificativa:*\n_${dados.justificativa || 'Nenhuma justificativa fornecida.'}_\n\n*Registrado por:* ${dados.usuario || 'Sistema'}\n*Evidência:* ${dados.foto_url || 'Sem foto'}`;\n\n// Retorna a mensagem pronta e o número de destino\nreturn [\n  {\n    json: {\n      mensagem_pronta: mensagem,\n      numero_destino: \"5511916732004\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "15dc2476-9810-4c4d-9796-bcda049fe365",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gowork.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "66960289-16fa-4037-b375-ad2b17662ab8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Code in JavaScript').item.json.numero_destino }}"
            },
            {
              "name": "text",
              "value": "={{ $('Code in JavaScript').item.json.mensagem_pronta }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6062187-dd43-48a9-8062-8dc69dba0adf",
      "name": "Consolação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Consolação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10de2332-ba7d-4a7e-94c8-c371444188bf",
  "meta": {
    "instanceId": "17be6445c9e23b9dd57a36ffe09f3fd049fe8d0da2b35a2a0af6dcad08595fbd"
  },
  "id": "u6o4CKvSbwyOaoEy",
  "tags": []
}